extends layout

block content
  .container
    h1 A Year of Travel
    if (!user)
      a(href="/login") login
      br
      a(href='/register') Sign up
    if (user)
      p We're logged in as #{user.username}
      a(href='/logout') Log out
