extends layout

block content
  .row
    h1 A Year of Travel
  .row
    if (!user)
      a(href="/login") login
      br
      a(href='/register') Sign up
    if (user)
      .col-md-6
        include addDestinations.jade
        include userDetails.jade
      .col-md-6
        include destinations.jade
        a(href='/logout') Log out
        div
          - console.log(user)
        div
      
