doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/javascripts/jquery-2.1.1')
  script(src='/javascripts/jquery.autocomplete.js')
  script(src='/javascripts/autocomplete.js')
